<div class="card">
    <div class="price-container">
        <h1 class="total">24,721$</h1>
        <h4 class="detail-description">Current Balance</h4>

    </div>
    <div class="details-container">
        <table>
            <tr>
                <tr>
                    <td>
                        <h1 class="large-detail">{{employees.length}}</h1>
                        <h4 class="detail-description">Employees</h4>
                    </td>
                    <td>
                        <h1 class="large-detail">{{transactions.length}}</h1>
                        <h4 class="detail-description">Transactions</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 class="large-detail">35,600$</h1>
                        <h4 class="detail-description">Spending</h4>
                    </td>
                    <td>
                        <h1 class="large-detail">59,513$</h1>
                        <h4 class="detail-description">Revenue</h4>
                    </td>
                </tr>
        </table>
    </div>
</div>